<p>O somatório de {{inicio}} a {{fim}} é {{soma}}</p>
<p>Você usou o serviço {{views}} vezes nessa sessão</p>
<p>Você usou o serviço {{browserViews}} vezes neste browser</p>
<p>Esse serviço foi usado {{totalAccesses}} vezes desde que o servidor foi iniciado.</p>
